version: "3.8"

services:
    postgres:
        image: postgres:latest
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=qwer1234!!
            - POSTGRES_DB=growtime
        volumes:
            - ./sql:/docker-entrypoint-initdb.d

volumes:
    postgres_data:

networks:
    growtime-network:
        driver: bridge
